datain/fixed
datain/WPS_GEOG
dataout
execs
.venv
scripts/GF_ConvPar_nml
sources/MONAN-Model_release
sources/convert_mpas_release
sources/CGFD-USP-Create-Mesh/vtx-mpas-meshes/data/*
!sources/CGFD-USP-Create-Mesh/vtx-mpas-meshes/data/.gitkeep
run.*
*.pyc
